{% extends "base.html" %}
{% block title %}
	Главная
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-header.html" %}
{% endblock %}
{% block body %}
	<div id="site_content">
		{% include "inc-sidebar.html" %}
      <h1>Список категорий</h1>
		<div>
			<a href="/create-category/">Создать новую категорию</a>
    	</div>
      <ul>
          {% for item in objects_list %}
          <li>
            {{item.name}}<span>. Количество курсов: {{item.course_count()}}</span>
			<a href="/therapy-course-list/?id={{item.id}}">Показать курсы</a>
          </li>
        {% endfor %}
      </ul>

	</div>
	{% include "inc-footer.html" %}
{% endblock %}