<div id="header">
    <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Temiraliev<span class="logo_colour">Sergey</span></a></h1>
          <h2> Когда-нибудь здесь будет осмысленный текст )) P</h2>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Главная</a></li>
          <li><a href="/category-list/">Курсы по категориям</a></li>
          <li><a href="/therapy-programs/">Расписание</a></li>
          <li><a href="/about/">О нас</a></li>
          <li><a href="/contacts/">Контакты</a></li>
        </ul>
    </div>
</div>
<div id="content_header"></div>