{% extends "base.html" %}
{% block title %}
	Курсы
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-header.html" %}
{% endblock %}
{% block body %}
  <div id="site_content">
    {% include "inc-sidebar.html" %}
    <br>
    <br>
    <div>
      <a href="/create-course/?id={{id}}">Создать новый курс</a>
      <br>
      <h1>Список курсов для категории "{{name}}"</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}}
        </li>
        {% endfor %}
    </div>
  </div>
	{% include "inc-footer.html" %}
{% endblock %}